# {{ git_tag }}

## File Changes

| File | Change |
| --- | --- |
{% for line in git_add_status.stdout_lines %}
| {{ line.split(' ')[-1] }} | {{ git_status_lookup[line[0]] }} |
{% endfor %}

{{ lookup('file', git_changelog_path) }}