---
- name: Get organization id
  register: r_palo_fw_org_id
  no_log: "{{ credential_secure_logging }}"
  ansible.builtin.uri:
    url: "{{ lookup('env', 'CONTROLLER_HOST') }}/{{ org_url }}/?name=Autodotes"
    method: GET
    headers:
      Authorization: "Bearer {{ lookup('env', 'CONTROLLER_OAUTH_TOKEN') }}"

- name: Get credential id
  register: r_palo_fw_cred_id
  no_log: "{{ credential_secure_logging }}"
  ansible.builtin.uri:
    url: "{{ lookup('env', 'CONTROLLER_HOST') }}/{{ credential_base_url }}/?name=Palo+Alto+Firewall+%28admin%29"
    method: GET
    headers:
      Authorization: "Bearer {{ lookup('env', 'CONTROLLER_OAUTH_TOKEN') }}"

- name: Get credential type id
  register: r_palo_fw_cred_type_id
  no_log: "{{ credential_secure_logging }}"
  ansible.builtin.uri:
    url: "{{ lookup('env', 'CONTROLLER_HOST') }}/{{ credential_type_base_url }}/?name=Palo+Alto+Networks+Provider"
    method: GET
    headers:
      Authorization: "Bearer {{ lookup('env', 'CONTROLLER_OAUTH_TOKEN') }}"

- name: Assert expected resources found
  ansible.builtin.assert:
    that:
      - r_palo_fw_org_id.json.count == 1
      - r_palo_fw_cred_id.json.count == 1
      - r_palo_fw_cred_type_id.json.count == 1

- name: Extract resource ids
  ansible.builtin.set_fact:
    pfw_credential_id: "{{ r_palo_fw_cred_id.json.results[0].id }}"
    pfw_credential_type_id: "{{ r_palo_fw_cred_type_id.json.results[0].id }}"
    pfw_organization_id: "{{ r_palo_fw_org_id.json.results[0].id }}"

- name: Update credential
  no_log: "{{ credential_secure_logging }}"
  ansible.builtin.uri:
    url: "{{ lookup('env', 'CONTROLLER_HOST') }}/{{ credential_base_url }}/{{ pfw_credential_id }}/"
    method: PATCH
    headers:
      Authorization: "Bearer {{ lookup('env', 'CONTROLLER_OAUTH_TOKEN') }}"
    body_format: json
    body:
      name: Palo Alto Firewall (admin)
      organization: "{{ pfw_organization_id }}" # Autodotes
      isOrgLookupDisabled: false
      description: Palo Alto Firewall administrator credentials compatible with the palaltonetworks.panos collection
      credential_type: "{{ pfw_credential_type_id }}" # Palo Alto Networks Provider
      inputs:
        panos_ip_address: "{{ r_eip_mgmt.public_ip }}"
        panos_username: admin
        panos_password: "{{ panos_demo_password }}"
...