{
	"PaginationResponseRecord": {
		"PageIndex": 1,
		"LastIndex": 1,
		"TotalRecords": 1,
		"PageRecords": 1
	},
	"EOXRecord": [{
		"EOLProductID": "CISCO1811/K9",
		"ProductIDDescription": "Security Router",
		"ProductBulletinNumber": "EOL7073",
		"LinkToProductBulletinURL": "https://www.cisco.com",  
		"EOXExternalAnnouncementDate": {
			"value": "2010-04-16",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfSaleDate": {
			"value": "2011-04-16",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfSWMaintenanceReleases": {
			"value": "2012-04-15",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfSecurityVulSupportDate": {
			"value": "2012-12-15",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfRoutineFailureAnalysisDate": {
			"value": "2012-04-15",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfServiceContractRenewal": {
			"value": "2015-07-15",
			"dateFormat": "YYYY-MM-DD"
		},
		"LastDateOfSupport": {
			"value": "2016-04-30",
			"dateFormat": "YYYY-MM-DD"
		},
		"EndOfSvcAttachDate": {
			"value": "2012-04-15",
			"dateFormat": "YYYY-MM-DD"
		},
		"UpdatedTimeStamp": {
			"value": "2010-04-18",
			"dateFormat": "YYYY-MM-DD"
		},
		"EOXMigrationDetails": {
			"PIDActiveFlag": "Y ",
			"MigrationInformation": "Cisco 891 GigaE SecRouter",
			"MigrationOption": "Enter PID(s)",
			"MigrationProductId": "CISCO891-K9",
			"MigrationProductName": " ",
			"MigrationStrategy": " ",
			"MigrationProductInfoURL": "https://www.cisco.com"  
		},
		"EOXInputType": "ShowEOXBySerialNumber",
		"EOXInputValue": "{{ ansible_net_serialnum }}"
	}]
} 